:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.auth-container {
  padding: 100px;
  width: 300px;
  border: 1px solid white;
  border-radius: 12px;
  text-align: center;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
}

button {
  border: none;
  cursor: pointer;
}

.dashboard {
  padding: 20px;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.dashboard-lists {
  display: flex;
  padding: 50px;
  gap: 50px;
}

.projects, .tasks {
  width: 100%;
  border: 1px solid gray;
  border-radius: 12px;
  padding: 20px 50px;
}

.project-lists, .task-lists {
  padding: 30px;
}