:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.auth-container {
  padding: 100px;
  width: 300px;
  border: 1px solid white;
  border-radius: 12px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
}

button {
  border: none;
  cursor: pointer;
}

.main-container {
  padding: 20px;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.subcontainer {
  padding: 0px 30px;
}

.dashboard-lists {
  display: flex;
  padding: 10px 50px;
  gap: 50px;
}

.projects, .tasks {
  width: 100%;
  border: 1px solid gray;
  border-radius: 12px;
  padding: 20px 50px;
}

.project-lists, .task-lists {
  padding: 30px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 0;
  border-bottom: 1px solid gray;
  margin-bottom: 1rem;
}

.section-header h2 {
  margin: 0;
  font-size: 1.4rem;
  color: white;
}

.section-header button {
  background-color: #f5f5f5;
  border: none;
  padding: 0.5rem 1.2rem;
  width: 100px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.section-header button:hover {
  background-color: #ddd;
}

.profile-container {
  padding: 20px;
  text-align: center;
}

.task-details {
  padding: 10px;
}

.task-details-container {
  display: flex;
  justify-content: space-between;
}

.task-action {
  display: flex;
  gap: 20px;
}

.edit-form {
  width: 200px;
}

.project-details-container {
  display: flex;
}

.project-actions {
  display: flex;
  gap: 10px;
  padding: 20px 15px;
  height: 50px;
}
