:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-container {
  padding: 100px;
  width: 300px;
  border: 1px solid white;
  border-radius: 12px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
}

button {
  border: none;
  cursor: pointer;
}
